a.go { font-style: italic; }

/* enables autoscroll in flex and grid */
div { min-width: 0; }

/*#888088*/
.tutorial .javascript-output { background-color: #494044; color: white; font-family: Menlo, Monaco, Consolas, 'Courier New', monospace; font-size: 14px; padding: 12px 10px; margin: 10px 0 20px 25px; }

/*p { max-width: 810px; }*/

.bg-cream-100 { background-color: #f6f8fd !important; }

/*992px*/
@media (min-width: 1200px) {
  .tutorial p, .tutorial pre, .tutorial .javascript-output, .tutorial .dl { margin-right: 100px !important; }
}

pre { margin-top: 0px; }
