.indigo { background-color: #302ea3; color: white; padding: 10px; }
.aliceblue { background-color: aliceblue; color: steelblue; padding: 10px; }
.papaya { background-color: papayawhip; color: indianred; padding: 10px; }